/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  /* font-size: 22px; */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: -3;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #666666;
    border: 1px solid #999999;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #bbbbbb;
  border: 1px solid #999999;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #fff200;
  border: 1px solid #999999;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: none;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 0px;
  top: 0px;
  width: 5px;
  height: 5px;
  border: 1px solid #666666;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}